.header {
    height: 5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 15px 3.56rem;
}

.header img {
    width: 8.25rem;
    height: 2.3rem;
}

.header ul {
    display: flex;
}

.header ul li + li {
    margin-left: 2.18rem;
}

.header ul li:first-child {
    border: 1px solid white;

    font-size: 14px;

    padding: 7px 7px;
    border-radius: .2rem;

    background: #00000066;

    text-align: center;

    display: flex;
    align-items: center;
    gap: 2px;
}

.header ul li:last-child {
    padding: 7px 17px;

    background: #E50914;
    border-radius: .2rem;

    display: flex;
    align-items: center;

    text-align: center;

    cursor: pointer;
}

@media(max-width: 425px) {

    .header {
        padding: 15px 1rem;
    }

    .header img {
        width: 6.25rem;
        height: 1.5rem;
    }

    .header ul li + li {
        margin-left: .75rem;
    }

    .header ul li:first-child {
        padding: 3px 5px;
        gap: .8px;

    }

    .header ul li:last-child {
        padding: 3px 8px;
        font-size: .9rem;
    }

}
