.featured {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/8dc3f88b-a96a-4d8a-af9a-a69e6f3b2506/5c809235-fe67-4a98-af86-95a0a5a51e74/BR-pt-20210524-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 101vh;

    overflow: hidden;
    border-bottom: 8px solid #222;

    padding: 0;
}

.backgroundGradient {
    width: inherit;
    height: inherit;

    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);   
}

.featuredContent {
    width: 50vw;

    text-align: center;

    height: calc(100vh - 5rem);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuredContent h1 {
    font-size: 3.125rem;

    max-width: 32.43rem;
}

.featuredContent p {
    font-size: 1.6rem;

    margin: 1rem 0;

    max-width: 35.68rem;
}

.featuredContent span {
    font-size: 1.2rem;

    margin: 1rem 0;

    max-width: 40.93rem;
}

.questionTitle {
    width: 100%;
    margin-top: 4.8rem;
    margin-bottom: 3.31rem;

    display: flex;
    justify-content: center;
}

.questionTitle h1 {
    font-size: 3.125rem;
}

.contact {
    margin-top: 73px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #222;

    padding-bottom: 80px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

@media(max-width: 1440px) {
    .featuredContent h1 {
        max-width: 40.62rem;
    }
}

@media(max-width: 768px) {

    .featuredContent {
        width: 100vw;
    }

    .featuredContent h1 {
        max-width: 640px;;
    }

    .featuredContent p {
        font-size: 1.625rem;
    
        max-width: 32.56rem;
    }

    .featuredContent span {
        font-size: 1.43rem;

        max-width: 25.31rem;
    }

    .questionTitle h1 {
        font-size: 2.5rem;
    }

    .contact p {
        max-width: 25.5rem;
        text-align: center;

        font-size: 1.4rem;
    }
}

@media(max-width: 425px) {

    .featuredContent h1 {
        font-size: 1.75rem;
    
        max-width: 22.25rem;
    }

    .featuredContent p,
    .featuredContent span {
        font-size: 1.12rem;
    }

    .featuredContent span {
        max-width: 16.87rem;
    }

    .questionTitle h1 {
        font-size: 1.8rem;
    }

    .contact p {
        max-width: 18rem;

        font-size: 1.125rem;
    }

}

@media(max-width: 320px) {
    .backgroundGradient {
        background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0,0,0,.8) 100%);
    }

    .featuredContent h1 {
        margin-top: -3rem;
    }

    .featuredContent p {
        font-size: 1.1rem;

        max-width: 14.75rem;
    }

    .featuredContent span {
        font-size: 1rem;

        max-width: 16.62rem;
    }

    .questionTitle h1 {
        font-size: 1.5rem;
    }

    .contact {
        padding: 80px 1rem 0 1rem;
    }
    
}