.featured {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/8dc3f88b-a96a-4d8a-af9a-a69e6f3b2506/5c809235-fe67-4a98-af86-95a0a5a51e74/BR-pt-20210524-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 101vh;

    overflow: hidden;
    border-bottom: 8px solid #222;

    padding: 0;
}

.backgroundGradient {
    width: inherit;
    height: inherit;

    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);   
}

.featured .backgroundGradient header {
    height: 5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 15px 3.56rem;
}

.featured .backgroundGradient header img {
    width: 8.25rem;
    height: 2.3rem;
}

.featured .backgroundGradient header ul {
    display: flex;
}

.featured .backgroundGradient header ul li + li {
    margin-left: 2.18rem;
}

.featured .backgroundGradient header ul li:first-child {
    border: 1px solid white;

    font-size: 14px;

    padding: 7px 7px;
    border-radius: .2rem;

    background: #00000066;

    text-align: center;

    display: flex;
    align-items: center;
    gap: 2px;
}

.featured .backgroundGradient header ul li:last-child {
    padding: 7px 17px;

    background: #E50914;
    border-radius: .2rem;

    display: flex;
    align-items: center;

    text-align: center;

    cursor: pointer;
}

.featuredContent {
    width: 50vw;

    text-align: center;

    height: calc(100vh - 5rem);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuredContent h1 {
    font-size: 3.125rem;

    max-width: 32.43rem;
}

.featuredContent p {
    font-size: 1.6rem;

    margin: 1rem 0;

    max-width: 35.68rem;
}

.featuredContent span {
    font-size: 1.2rem;

    margin: 1rem 0;

    max-width: 40.93rem;
}

.contentForm form {
    height: 3.75rem;

    padding: 0;
    margin: 0;

    display: flex;
}

.contentForm input {
    font-size: .875rem;

    padding: 20px 10px;

    width: 28.06rem;
    height: 100%;

    margin-top: 0;
}

.contentForm input:focus {
    outline: none;
}

.contentForm button {
    outline: none;
    border: none;

    width: 11.05rem;
    height: 100%;

    border: none;

    font-size: 1.5rem;

    background-color: #e50914;

    color: white;
    cursor: pointer;

    opacity: .9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contentForm button:hover {
    background-color: #f40612;
}

.contentForm button img {
    margin-left: 17px;

    width: .5rem;
}

.questionTitle {
    width: 100%;
    margin-top: 4.8rem;
    margin-bottom: 3.31rem;

    display: flex;
    justify-content: center;
}

.questionTitle h1 {
    font-size: 3.125rem;
}

.contact {
    margin-top: 73px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #222;

    padding-bottom: 80px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

@media(max-width: 1440px) {
    .featuredContent h1 {
        max-width: 40.62rem;
    }
}

@media(max-width: 768px) {

    .featuredContent {
        width: 100vw;
    }

    .featuredContent h1 {
        max-width: 640px;;
    }

    .featuredContent p {
        font-size: 1.625rem;
    
        max-width: 32.56rem;
    }

    .featuredContent span {
        font-size: 1.43rem;

        max-width: 25.31rem;
    }

    .contentForm form {
        display: flex;
        flex-direction: column;

        height: auto;

        align-items: center;
    }

    .contentForm button {
        outline: none;
        border: none;
    
        width: 7.06rem;
        height: 2.62rem;
    
        font-size: 1rem;

        margin-top: 1rem;
    }

    .questionTitle h1 {
        font-size: 2.5rem;
    }

    .contact p {
        max-width: 25.5rem;
        text-align: center;

        font-size: 1.4rem;
    }
}

@media(max-width: 425px) {

    .featured .backgroundGradient header {
        padding: 15px 1rem;
    }

    .featured .backgroundGradient header img {
        width: 6.25rem;
        height: 1.5rem;
    }

    .featured .backgroundGradient header ul li + li {
        margin-left: .75rem;
    }

    .featured .backgroundGradient header ul li:first-child {
        padding: 3px 5px;
        gap: .8px;

    }

    .featured .backgroundGradient header ul li:last-child {
        padding: 3px 8px;
        font-size: .9rem;
    }

    .featuredContent h1 {
        font-size: 1.75rem;
    
        max-width: 22.25rem;
    }

    .featuredContent p,
    .featuredContent span {
        font-size: 1.12rem;
    }

    .featuredContent span {
        max-width: 16.87rem;
    }

    .contentForm input {
        padding: 15px 10px;
    
        width: 22rem;

        margin: 0 1rem;
    }

    .questionTitle h1 {
        font-size: 1.8rem;
    }

    .contact p {
        max-width: 18rem;

        font-size: 1.125rem;
    }

}

@media(max-width: 320px) {
    .backgroundGradient {
        background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0,0,0,.8) 100%);
    }

    .featuredContent h1 {
        margin-top: -3rem;
    }

    .featuredContent p {
        font-size: 1.1rem;

        max-width: 14.75rem;
    }

    .featuredContent span {
        font-size: 1rem;

        max-width: 16.62rem;
    }

    .contentForm input {
        padding: 15px 10px;
    
        width: 18.05rem;
    }

    .questionTitle h1 {
        font-size: 1.5rem;
    }

    .contact {
        padding: 80px 1rem 0 1rem;
    }
    
}